.App {
  text-align: center;
  background-color: #01A623;
  background-image: url(imgs/green-triangles.png);
  background-size: 156px 154.5px;
  background-position: 50% 28%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}